

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places List</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
</head>
<body>
    <div class="container mx-auto mt-8">
        <h2 class="text-4xl text-gray-600 font-semibold text-center">Places Your Ego Is Not Your Amigo</h2>
        
        <!-- O React será montado aqui -->
        <div id="places-list-container"></div>
    </div>
</body>
</html>

